<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>JMA Email Template</title>
  </head>
  <body style="margin: 0; background-color: #efefef;" bgcolor="#efefef"><style type="text/css">
a:hover { text-decoration: underline !important; }
&gt;</style>
  <table class="container" cellspacing="0" style="width: 645px; background-color: #fff; margin: 0 auto;" bgcolor="#fff"><tr><td class="logo" style="padding: 20px 25px 40px 50px;">
  <img src="http://www.jodymichael.com/filebin/images/email_blast/jma-logo.png" width="200" height="60" alt="Jody Michael Associates" class="block" style="display: block;" /></td>

    </tr><tr><td style="padding: 0;"><img src="http://www.jodymichael.com/filebin/images/email_blast/Share_your_JMA_experience4.jpg" width="645" height="300" alt="All Catalyst" class="block" style="display: block;" /></td>
    </tr>
    <tr>
      <td class="main" style="padding: 20px 25px 40px 50px;">
        <table class="main-content" cellspacing="0" style="width: 570px;"><tr>
          <td class="article" style="padding: 0 0 75px; vertical-align: top;" valign="top">
            <h1 style="font-family: 'Times New Roman', Times, serif; font-size: 24px; color: #8bc229; font-weight: normal;">Share Your Experience</h1>

            <p style="font-family: Verdana, Geneva, sans-serif; font-size: 12px; line-height: 18px; color: #666769;"><greeting/>
                            
            <p style="font-family: Verdana, Geneva, sans-serif; font-size: 12px; line-height: 18px; color: #666769;">Thank you for choosing to work with Jody Michael Associates.</p>

            <p style="font-family: Verdana, Geneva, sans-serif; font-size: 12px; line-height: 18px; color: #666769;">Our goal is to provide exceptional coaching services and we have worked hard to deliver this to you over the course of our engagement.</p>

            <p style="font-family: Verdana, Geneva, sans-serif; font-size: 12px; line-height: 18px; color: #666769;">As you explored which services were right for you, it's likely that Yelp or another online review site played a role in your choice. We invite you to pay it forward!</p>

            <p style="font-family: Verdana, Geneva, sans-serif; font-size: 12px; line-height: 18px; color: #666769;">Please spend ~5 minutes and share your experience on any of the following sites:</p>
              <ul style="color: #666769;">
                <li><p style="font-family: Verdana, Geneva, sans-serif; font-size: 12px; line-height: 18px; color: #666769;">
                <a href="http://www.yelp.com/biz/jody-michael-associates-chicago" style="color: #8bc229">Yelp </a></p></li>
                <li><p style="font-family: Verdana, Geneva, sans-serif; font-size: 12px; line-height: 18px; color: #666769;"><a href="https://plus.google.com/111155743673322024024/about" style="color: #8bc229">Google+</a></p></li>
                <li><p style="font-family: Verdana, Geneva, sans-serif; font-size: 12px; line-height: 18px; color: #666769;"><a href="https://my.angieslist.com/AngiesList/login.aspx" style="color: #8bc229">Angie's List</a> (membership required)</p></li>
              </ul>

              <p style="font-family: Verdana, Geneva, sans-serif; font-size: 12px; line-height: 18px; color: #666769;">Here's a <a href="http://www.nytimes.com/2014/11/30/business/the-art-of-the-amateur-online-review.html?_r=0" style="color: #8bc229"><i>New York Times</i> article</a> that you may find helpful.</p>
              <p style="font-family: Verdana, Geneva, sans-serif; font-size: 12px; line-height: 18px; color: #666769;">Your feedback would mean the world to us!</p>

              <p style="font-family: Verdana, Geneva, sans-serif; font-size: 12px; line-height: 18px; color: #666769;">Thank you for your time. Most importantly, thank you for the opportunity to work with you!</p>

              <p style="font-family: Verdana, Geneva, sans-serif; font-size: 12px; line-height: 18px; color: #666769;">Jody</p>
                <td class="gutter" style="padding: 0; width: 30px;"></td>
                <td class="sidebar" style="padding: 0 0 75px; vertical-align: top; width: 165px;" valign="top">
              <p style="font-family: Verdana, Geneva, sans-serif; font-size: 12px; line-height: 18px; color: #666769;"><strong>Jody Michael Associates</strong></p>
              <p style="font-family: Verdana, Geneva, sans-serif; font-size: 12px; line-height: 18px; color: #666769;">Downtown Office<br />
                405 N. Wabash<br />
                Suite 2615<br />
                Chicago, IL 60611</p>
              <p style="font-family: Verdana, Geneva, sans-serif; font-size: 12px; line-height: 18px; color: #666769;">North Side Office<br />
                4860 N. Paulina<br />
              Chicago, IL 60640</p>
              <p style="font-family: Verdana, Geneva, sans-serif; font-size: 12px; line-height: 18px; color: #666769;">773.275.5566<br /><a href="http://www.jodymichael.com" style="color: #8bc229; text-decoration: none;">jodymichael.com</a></p>
              <p style="font-family: Verdana, Geneva, sans-serif; font-size: 12px; line-height: 18px; color: #666769;">Find us<br /><a href="http://www.facebook.com/jodymichaelassociates" style="color: #8bc229; text-decoration: none;"><img src="http://www.jodymichael.com/filebin/images/email/newsletter/facebook.png" width="50" height="42" alt="Facebook" style="border: none;" /></a><a href="https://twitter.com/jmacoaching" style="color: #8bc229; text-decoration: none;"><img src="http://www.jodymichael.com/filebin/images/email/newsletter/twitter.png" width="50" height="42" alt="Twitter" style="border: none;" /></a><a href="http://www.linkedin.com/company/3593891?trk=tyah&trkInfo=tas%3Ajody%20michael%20assoc%2Cidx%3A1-1-1" style="color: #8bc229; text-decoration: none;"><img src="http://www.jodymichael.com/filebin/images/email/newsletter/linkedin.png" width="50" height="42" alt="Linkedin" style="border: none;" /></a><a href="https://www.youtube.com/user/JodyMichaelAssoc?feature=watch" style="color: #8bc229; text-decoration: none;"><img src="http://www.jodymichael.com/filebin/images/email/newsletter/youtube.png" width="50" height="42" alt="YouTube" style="border: none;" /></a><a href="http://pinterest.com/jodymichael/" style="color: #8bc229; text-decoration: none;"><img src="http://www.jodymichael.com/filebin/images/email/newsletter/pinterest.png" width="50" height="42" alt="Pinterest" style="border: none;" /></a><a href="http://www.yelp.com/search?find_desc=%22Jody+Michael+Associates%22&amp;find_loc=Chicago%2C+IL&amp;ns=1" style="color: #8bc229; text-decoration: none;"><img src="http://www.jodymichael.com/filebin/images/email/newsletter/yelp.png" width="50" height="42" alt="Yelp" style="border: none;" /></a></p></td>
              </tr>
              <tr>
                <td colspan="3" class="footer" style="border-top-color: #999; padding: 0; border-top-width: 1px; border-top-style: dotted;">
                  <p style="font-family: Verdana, Geneva, sans-serif; font-size: 12px; line-height: 18px; color: #666769;">@2014 Jody Michael Associates</p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
        </tr>
      </table>
</body>
</html>