
<div class="payment-border">
    <form action=""/submit_test_email"" method="post">
    <!-- <form action="/submit_payment" method="post"> -->

    <fieldset>
      <div >
        <legend >Submit Test Email</legend>
      </div>
        <div >
          <button class="btn btn-success" style="margin-top: 15px;">Pay Now</button>
        </div>
    </fieldset>
    </form>
</div>
