<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>Career Cheetah</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Responsive stuff -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  	
  	
  <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">
  <link href="css/jma.css" rel="stylesheet">
  <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script> 
  <script src="js/jquery.progressTimer.js"></script>


    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body>


 <div class="row" style="width: 1200px; margin-left: 10%; margin-top: 2%;">
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
       <a href="http://www.jodymichael.com"><img src="http://www.jodymichael.com/filebin/images/logo.png" ></a>
				<br>
				
          <img src="http://www.jodymichael.com/filebin/images/dotted-border-img.png" style="margin-top: 10px;">

          <h3 style="color: #656769;"><%= name %> has submitted a payment to Arrow Payments in the amount of $<%= amount %> </h3>
          <p> style="color: #656769;"><%= name %> has submitted a payment to Arrow Payments in the amount of $<%= amount %> </p>
          
	
       <img src="http://www.jodymichael.com/filebin/images/texture/testimonial-bg.jpg" style="height: 35px;width: 100%;">
			 <!--<img src="http://www.jodymichael.com/filebin/images/texture/slideshow-text-bg.png" style="height: 35px;width: 100%;">-->

    </div>
  </div>
</div>

  </body>
</html>