<p>Dear <%=@name%>,</p>
<p>Thank you for registering for Career Cheetah.  Your registration is confirmed and your payment of <%= @payment %> has been received.</p>
<div>
<p><b>Total Payment:&nbsp;</b><%= @amount %></p>
<p><b>Date:&nbsp;</b><%= @date %></p>