<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>Career Cheetah</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Responsive stuff -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  	
  <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">
  <link href="css/jma.css" rel="stylesheet">
  <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script> 
  <script src="js/jquery.progressTimer.js"></script>


    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="thumbnail" style="width: 600px; margin-left: 10%; margin-top: 2%;">
       <a href="http://www.jodymichael.com"><img src="http://www.jodymichael.com/filebin/images/logo.png" alt="<= @reference %>"></a>
				<br>
          <img src="http://www.jodymichael.com/filebin/images/dotted-border-img.png" style="margin-top: 10px; margin-bottom: 20px;">
          <br>
          <p  style="color: #656769;">Dear <%=@name%>,</p>
          <% if @amount > 0 %>
            <p  style="color: #656769;">Thank you for choosing Jody Michael  Associates.   Please follow this link to our <a href=" https://jma-tools.herokuapp.com/jma_payment_form?amount=<%= @amount %>" style="color: #8bc129;">Secure Payment Page</a> where you can enter your credit card information.<p>
          <% else %>
            <p  style="color: #656769;">Thank you for choosing Jody Michael  Associates.   Please follow this link to our <a href=" https://jma-tools.herokuapp.com/jma_payment_form" style="color: #8bc129;">Secure Payment Page</a> where you can enter your credit card information.<p>
          <% end %>
          <p  style="color: #656769;">We look forward to our work together. </p>
          <p  style="color: #656769;">Sincerely,  </p>
          <p  style="color: #656769;">The JMA Team </p>
       <img src="http://www.jodymichael.com/filebin/images/texture/light-grey-texture.jpg"  style="width: 590;" >
    </div>
</body>
</html>
