<div style="margin-left:5%;">
<p>Arrow Payment Has Been Submitted Successfully</p>

  <form action="/done" method="post">
    <input type="submit" value="Continue" name="done" class="btn btn-success"  >
  </form>
  <br> 
</div>
