<div class="container admin">
  <div class="row row-offcanvas row-offcanvas-left">      
    <!-- sidebar -->
    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
      <ul class="nav">
        <a href="/new_coach" class="btn btn-success btn-md">New Coach
        <span class="glyphicon glyphicon-plus"></span></a> 
      </ul>
    </div>
    <!-- main area -->
    
    <div class="col-md-6">
      <table class="table table-condensed table-bordered table-striped table-hover table-responsive" style="display:block; height:300px;">
        <thead>
          <tr>
            <th>#</th>
            <th>Coach Name</th>
          </tr>
        </thead>
        <tbody>
          <% if @coaches != nil && @coaches.size > 0 %>
            <% total_amount=0 %>
            <% @coaches.each do |entry| %>
              <tr>
                <td><%= entry[:id]%></td>
                <td><%= entry[:name] %></td>
                <td>
                <a href="/edit_coach?id=<%= entry[:id]%>" class="btn btn-primary btn-xs">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a></td>
                <td>
                <a href="/delete_coach?id=<%= entry[:id]%>" class="btn btn-danger btn-xs">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
                </td>
              </tr> 
          <% end %> 
          <% end %> 
        </tbody>
      </table>  
         <br>
      </div> <!--/.col-md-9 -->
  </div><!--/.row-->
  </div><!--/.container-->