<div class="container" style= "margin-bottom: 50px;">
  
  <!-- upper section -->
  <div class="row">
    <div class="col-sm-2">
      <!-- left -->
      <h3><i class="glyphicon glyphicon-flash"></i> Links</h3> 
      <hr>
      <ul class="nav nav-stacked">
        <li><a href="/payments"><i class="glyphicon glyphicon-usd"></i> Payments</a></li>
        <li><a href="/workshops"><i class="glyphicon glyphicon-briefcase"></i> Workshops</a></li>
        <li><a href="/coaches"><i class="glyphicon glyphicon-bullhorn"></i> Coaches</a></li>
        <li><a href="/categories"><i class="glyphicon glyphicon-align-justify"></i> Categories</a></li>
        <li><a href="/logs"><i class="glyphicon glyphicon-align-justify"></i> Logs</a></li>
    </div><!-- /span-2 -->
    <div class="col-sm-4">
      <h3><i class="glyphicon glyphicon-pencil"></i> &nbsp Client</h3>  
      <hr>
      <div class="row">
       <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-title">
              <i class="glyphicon glyphicon-trash pull-right" style="color:red;"></i>
              <h4>Delete Client</h4>
            </div>
          </div>
          <div class="panel-body">
            <form class="form form-vertical" action="<%=@submit_callback%>" method="post" >  
         
              <fieldset>
                <br>
                <% if !@errors.empty? %>
                   <legend style="color: red;  font-weight: bold; font-size: 14px;"
                    <p>The Following Errors Were Encountered: </p>
                    <% @errors.each do |e| %>
                      <p><%=e%></p>
                    <% end %>
                  </legend>
                <% end %>
                <label class="control-label" for="textarea">Name</label> 
                <input type="text" class="form-control" name="name" value="<%=@client.name%>" required >

               
              </fieldset>
              <hr>
                <div class="form-actions">
                  <button type="submit" class="btn btn-danger" title="Delete Client">Delete</button>
                  <button type="reset" class="btn" onclick="history.go(-1);">Cancel</button>
                </div>
                <input type="hidden" name="id" value="<%= @client.id%>">
            </form>
          </div><!-- panel body -->
      </div><!-- panel default -->
      </div><!-- row -->
    </div><!-- col sm 6-->
  </div><!-- row -->
  
</div><!--/container-->