<div class="wrapper">
  <div>
    <h2 style="margin-bottom: 40px; color: #5e605d;">Import Payment Transactions</h2>
      <form method="post" action="/import_transactions" enctype="multipart/form-data"> 
        <input type="file" name="myfile">
        <br>
        <input type="submit" class="btn btn-success value="Upload!">
    </form>
  </div>
</div>