<div class="payment-border" style="margin-left: 30%;">
  <ul class="list-group">
    <form action="<%= @submit_callback %>" method="post" >
    <!-- <form action="/submit_payment" method="post"> -->

    <% if !@errors.empty? %>
      <legend style="color: red;  font-weight: bold; font-size: 14px;"
        <p>Invalid Password Please Reenter </p>
      </legend>
    <% end %>
    <fieldset>
      <div >
        <legend >This Page is Password Protected</legend>
      </div>
      <div class="control-group" style="display:block;">
        <div  style="position:relative;">
          <label class="control-label" style="width:35%; text-align:left">Please Enter Your Password</label>
          <input type="password" class="span3" name="password" value="<%= @password %>" required >
        </div>
      </div>
    </fieldset>
    <div class="control-group">
      <div >
         <button class="btn btn-success" style="margin-top: 15px;">Submit</button>
       </div>
    </div>
    </form>
  </ul>
</div>
