
<div style="margin-left:5%;">
<p>Payment Information Saved</p>

  <form action="/payments" method="get">
    <input type="submit" value="Continue" name="done" class="btn btn-success"  >
  </form>
  <br> 
</div>