<div class="container" style= "margin-bottom: 50px;">
  <!-- upper section -->
  <div class="row">
    <div class="col-sm-2">
      <!-- left -->
      <h3><i class="glyphicon glyphicon-flash"></i> Links</h3> 
      <hr>
      <ul class="nav nav-stacked">
        <li><a href="/arrow_payment_form"><i class="fa fa-credit-card"></i>&nbspArrow Quick Pay</a></li>
        <li><a href="/deposit_check_form"><i class="fa fa-money "></i>&nbspDeposit Check</a></li>
        <li><a href="/workshops"><i class="glyphicon glyphicon-briefcase"></i>&nbsp Workshops</a></li>
        <li><a href="/coaches"><i class="glyphicon glyphicon-bullhorn"></i>&nbsp Coaches</a></li>
        <li><a href="/categories"><i class="glyphicon glyphicon-align-justify"></i> &nbspCategories</a></li>
        <li><a href="/logs"><i class="glyphicon glyphicon-align-justify"></i> Logs</a></li>
        <li><a href="/hab_codes"><i class="glyphicon glyphicon-th-list"></i>&nbspHAB Codes</a></li>
      </ul>
      </div><!-- /span-2 -->
    </div><!-- col sm 2-->
  </div><!-- row -->
</div><!--/container-->


