<div class="container admin">
  <div class="row row-offcanvas row-offcanvas-left">      
    <!-- sidebar -->
    <div class="col-sm-2 sidebar-offcanvas" id="sidebar" role="navigation">
      <ul >
        <a href="/new_workshop" class="btn btn-success btn-md">Add Workshop
        <span class="glyphicon glyphicon-plus"></span></a> 
      </ul>
    </div>
    <!-- main area -->
    
    <div class="col-md-9">
      <h3>Workshop Lunch Summary</h3>
      <table class="table table-condensed table-bordered table-striped table-hover table-responsive" >
        <thead>
          <tr>
            <th>#</th>
            <th> Name</th>
            <th style="width:70%;">Lunch Preferences</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% if @attendees != nil && @attendees.size > 0 %>
            <% total_amount=0 %>
            <% @attendees.each do |entry| %>
              <tr>
                <td><%= entry[:id]%></td>
                <td><%= entry[:name] %></td>
                <td><%= entry[:lunch] %></td>
                <td>
                <a href="/edit_guest?id=<%= entry[:id]%>"  class="btn btn-primary btn-xs">
                    <!--<span class="glyphicon glyphicon-pencil"></span> -->
                    <span class="fa fa-pencil"></span>
                </a></td>
              </tr> 
          <% end %> 
          <% end %> 
        </tbody>
      </table>  
         <br>
      </div> <!--/.col-md-9 -->
  </div><!--/.row-->
  </div><!--/.container-->