<div class="container">
  <div class="row row-offcanvas row-offcanvas-left">      
    <!-- sidebar -->
    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
      <ul class="nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>             
      </ul>
    </div>
    <!-- main area -->
    <div class="col-xs-12 col-sm-9">
      <h1>Shrink Width to Collapse Sidebar</h1>
      <p>Aliquam a lacinia orci, iaculis porttitor neque. Nullam cursus dolor tempus mauris posuere, eu 
        scelerisque sem tincidunt. Praesent blandit sapien at sem pulvinar, vel egestas orci varius. 
        Praesent </p>
    </div><!-- /.col-xs-12 main -->
  </div><!--/.row-->
  </div><!--/.container-->